<div style=" width: 100%; height: 100%" xmlns="http://www.w3.org/1999/html">

    <script type="dojo/require">
           BorderContainer: "dijit/layout/BorderContainer",
           ContentPane:"dijit/layout/ContentPane",
           Filter: "gridx/modules/Filter",
           HashAwareTabContainer: "esb-console/layout/HashAwareTabContainer",
           at: "dojox/mvc/at",
           Output: "dojox/mvc/Output"
    </script>

    <div data-dojo-type="dijit/Dialog" data-dojo-attach-point="clipboardDialog" title="Clipboard" style="width:800px;height: 650px">
        <textarea style="width:100%;height: 100%"
                  data-dojo-attach-point="clipboardTextAreaNode"
                  placeholder="No messages"
                  rows="37"
                  >
          </textarea>
        <button data-dojo-type="dijit/form/Button"
                data-dojo-props="label: 'Update content'"
                type="button"
                data-dojo-attach-event="onClick: onUpdateClipboardContent"  />
    </div>


    <div
            class="esbConsoleLayout"
            data-dojo-type="dijit/layout/BorderContainer"
            data-dojo-props="design: 'headline'"
            data-dojo-attach-point="borderContainer"
            >
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'top'">

            <div data-dojo-type="dijit/Tooltip"
                 data-dojo-props="connectId:'globalMonitorState',position:['below']"
                    >
                <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'monitoringInfo')"></span>
            </div>


            <img  data-dojo-attach-point="globalMonitorState" id="globalMonitorState" src="esb-console/images/32/Circle_Green.png"
                 style="float: left;margin-right: 10px;cursor: pointer" height="29"
                 data-dojo-attach-event="click: onOpenDashboardClick"

                    />

            <div data-dojo-attach-point="navMenuNode" style="float: left"></div>


            <div style="float: left;margin-left: 40px">

                Clipboard:
                <span style="display: none;background-color: #ffffea;border: 1px solid black;border-radius: 4px;" data-dojo-attach-point="clipboardMessagesCountWidgetBig" data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'clipboardMessagesCount')"></span>
                <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'clipboardMessagesCount')"></span>
                <span data-dojo-attach-point="clipboardMessagesLabelNode">msgs</span>
                <button data-dojo-type="dijit/form/Button"
                        data-dojo-props="iconClass:'dijitEditorIcon dijitEditorIconDelete', showLabel: false"
                        type="button"
                        data-dojo-attach-event="onClick: _onDeleteClipboard"
                        >
                </button>
                <button data-dojo-type="dijit/form/Button"
                        data-dojo-props="iconClass:'zoomIcon18', showLabel: false"
                        data-dojo-attach-event="onClick: _onViewClipboard"
                        type="button" style="margin-left: -4px"
                ></button>

            </div>

        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'center'">
            <div data-dojo-attach-point="centerTabContainer" data-dojo-type="esb-console/layout/HashAwareTabContainer"
                                                             data-dojo-props="generateTabContent: this.generateTabContent"
                 style="width: 100%; height: 100%;">
            </div>

        </div>
        <div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region: 'bottom'">
            <span style="font-weight: bold">Environment:</span> <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'appEnvironment')"></span>
            <span style="font-weight: bold">Version:</span> <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'appVersion')"></span>
            <div style="float: right"><span style="font-weight: bold">User:</span> <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'appUser')"></span></div>
        </div>

    </div>
</div>