<div style="width: 100%;height: 100%">

    <fieldset data-dojo-attach-point="fieldsetProperties" style="float: left;width:30%;height: 100%;background-color: #f1f9ff; border: 1px solid #d3d3d3">
        <legend >
            <input type="button" data-dojo-props="iconClass:'expandIcon18', showLabel: false" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onPropertiesExpand" />
            <input type="button" data-dojo-props="iconClass:'contractIcon18', showLabel: false" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onPropertiesContract" />
            Properties of <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'detailsId')"></span>

        </legend>
        <div style="overflow-y: auto;height: 100%;">
            <table style="width: 100%;font-size: 14px;">
                <tbody data-dojo-attach-point="tablePropsNode">

                </tbody>
            </table>
        </div>

    </fieldset>
    <fieldset data-dojo-attach-point="fieldsetContent" style="float: left;width:60%;padding-left: 10px;background-color: #f1f9ff; border: 1px solid #d3d3d3;height: 100%;margin-left: 5px">
        <legend>
            <input type="button" data-dojo-props="iconClass:'expandIcon18', showLabel: false" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onContentExpand" />
            <input type="button" data-dojo-props="iconClass:'contractIcon18', showLabel: false" data-dojo-type="dijit/form/Button" data-dojo-attach-event="onClick: _onContentContract" />
            Content of <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'detailsId')"></span>
        </legend>
        <div style="overflow-y: auto;height: 100%">
            <textarea readonly data-dojo-type="dijit/form/Textarea" data-dojo-props="value: at(this, 'detailsContent')" style="width:100%;height: 100%" ></textarea>
        </div>
    </fieldset>

</div>