<div style="width: 100%; height: 100%;">
    <span style="font-weight: bold">Taille:</span>

    <script type="dojo/require">at: "dojox/mvc/at"</script>
    <script type="dojo/require">Output: "dojox/mvc/Output"</script>
    <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'size')"></span>
    <span style="font-weight: bold">Dequeue:</span>
    <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'dequeue')"></span>
    <span style="font-weight: bold">Enqueue:</span>
    <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'enqueue')"></span>
    <span style="font-weight: bold">InFlight:</span>
    <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'inflight')"></span>
    <span style="font-weight: bold">Average enqueue time ms:</span>
    <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(this, 'averageEnqueueTime')"></span>

    <br/>
    <br/>

    <div>
        LA TABLE

    </div>
</div>