<div style="width: 100%; height: 100%;">
    <span style="font-weight: bold">Taille:</span>
    <span data-dojo-type="dojox/mvc/Output" data-dojo-props="value: at(model, 'size')">${this.value}</span>
    <span>${size}</span>
    <span style="font-weight: bold">Dequeue:</span><span>${dequeue}</span>
    <span style="font-weight: bold">Enqueue:</span><span>${enqueue}</span>
    <span style="font-weight: bold">InFlight:</span><span>${inflight}</span>
    <span style="font-weight: bold">Average enqueue time ms:</span><span>${averageEnqueueTime}</span>

    <br/>
    <br/>

    <div>
        LA TABLE

    </div>
</div>