html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.esbConsoleLayout {
    height: 100%;
}

.zoomIcon {
    background-image: url("images/Zoom-icon16.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}
.zoomIcon18 {
    background-image: url("images/Zoom-icon16.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    text-align: center;
}

.expandIcon18 {
    background-image: url("images/expand-icon.png");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    text-align: center;
}


.contractIcon18 {
    background-image: url("images/contract-icon.png");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    text-align: center;
}

.gridxGroupHeader .gridxSortNode {
    text-align:center;

}


.STATE_OK {
    background-color:#AAFF88;

}


.STATE_WARN {
    background-color:orange;

}

.STATE_KO {
    background-color:red;

}

.BTN_STATE_OK {
    background-image: url("images/32/Circle_Green.png");
    width: 32px;
    height: 32px;
}


.BTN_STATE_WARN {
    background-image: url("images/32/Circle_Orange.png");
    width: 32px;
    height: 32px;
}

.BTN_STATEK_KO {
    background-image: url("images/32/Circle_Red.png");
    width: 32px;
    height: 32px;
}
